---
title: Post four
date: "2021-12-14"
---

<script>
 let a = 0;
</script>

Hello, I am _Post One._

**Nice to meet tjena!**

**sick**
    
<h1>{a}</h1>

<button on:click={()=>{a = a + 1}}>CLICK ME</button>
